<div class="header">
    <div class="flex">
        <div (click)="go('home')" class="logo"><img src="../../../assets/logo2.png" alt=""></div>
        <h1 (click)="go('home')">«Импрессия»</h1>
    </div>
    <div class="flex">
        <div class="hButton" (click)="go('catalog')">Каталог</div>
        @if (cors.login) {
            <div class="hButton" (click)="go('account')">Личный кабинет</div>
            <div class="hButton" (click)="go('favorites')">Избранное</div>
            <div class="hButton" (click)="go('basket')">Корзина</div>
        }
        @else {
            <div class="hButton" (click)="goLogin()">Войти</div>
        }
    </div>
</div>
