@import "../../styles/vars.scss";
.header {
    width: 100%;
    // height: 60px;
    background-color: $main;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px 20px;
    z-index: 3;
    .logo {
        // background-image: url(../../../assets/logo.png);
        img {
            height: 80px;
            // width: 60px;
        }
        cursor: pointer;
    }
    h1 {
        margin: 0 0px 0 20px;
        display: flex;align-items: center;
        cursor: pointer;
    }
}
.hButton {
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
    user-select: none;
    &:hover {
        // transform: translateY(-2px);
        color: #fff;
        text-shadow: 0 1px 0 black;
    }
    &:active {
        transform: unset;
    }
}