<div class="wrapper center">
    <div class="window">
        <div class="cont">
            <div class='center'>
                <h2>Регистрация</h2>
                <span>
                    «Импрессия» рада видеть новых любителей виниловых пластинок
                </span>
            </div>
            <div>
                <input type="text" placeholder="Фио: " >
                <input type="text" placeholder="Телефон: " >
                <input type="text" placeholder="Страна: " >
                <input type="text" placeholder="Город: " >
                <input type="text" placeholder="Пароль: " >
                <input type="text" placeholder="Повторите пароль: ">
            </div>
            <button class="button1" (click)="clickLogin()">
                Зарегистрироваться
            </button>
        </div>
        <div class="img"></div>
    </div>
</div>