<div class="wrapper center">
    <div class="back underline" (click)="go()">Вернутся на главную</div>
    <div class="window">
        <div class="img1 img "></div>
        <div class="cont">
            <div class='center'>
                <h2>Вход</h2>
                <span>Нет аккаунта? <span class="click" (click)="isReg(true)">Регистрация</span></span>
                <p>
                    Мы рады видеть вас в «Импрессия», пожалуйста осуществите вход в ваш личный кабинет
                </p>
            </div>
            <div>
                <input type="text" placeholder="Логин: " id="login">
                <input type="text" placeholder="Пароль: " id="password">
            </div>
            <div class="w100">
                <button class="button1" (click)="clickLogin()">
                    Войти
                </button>
            </div>
        </div>

        <div class="absoluteWindow window" [class.open]="is_reg">
            <div class="cont ">
                <div class='center'>
                    <h2>Регистрация</h2>
                    <span>Уже есть аккаунт? <span class="click" (click)="isReg(false)">Войти</span></span>
                    <p style="margin: 7px 0;">
                        «Импрессия» рада видеть новых любителей виниловых пластинок
                    </p>
                </div>
                <div>
                    <input type="text" placeholder="Фио: " id="fio">
                    <input type="text" placeholder="Телефон: " id="tel">
                    <input type="text" placeholder="Страна: " id="country">
                    <input type="text" placeholder="Город: " id="city">
                    <input type="text" placeholder="Логин: " id="login1" (change)="checkLogin()">
                    <input type="text" placeholder="Пароль: " id="pass" (input)="checkPassword()">
                    <input type="text" placeholder="Повторите пароль: " id="pass2" (input)="checkPassword()">
                </div>
                <button class="button1" (click)="clickLogin()" [disabled]="blockButton()">
                    Зарегистрироваться
                </button>
            </div>
            <div class="img2 img"></div>
        </div>
    </div>
</div>
<div class="errors">
    @if (login_error) { <div class="error">Такой логин уже существует</div> }
    @if (pass_error) { <div class="error">пароли не совпадают</div> }
</div>