<div class="wrapper">
    <app-header></app-header>
    <div class="body">
        <div class="article1">
            <p>
                <span>О нас</span><br>
                Наш магазин - это уникальное место, где можно насладиться настоящим звуком и особой атмосферой.
            </p>
            <p>
                Только здесь оживает музыка. Здесь время замедляется подтреск иглы.<br>
                Классика и рок, джаз и электроника , инди и многое другое - каждая пластинка - портал в мир эмоций.
            </p>
            <p>
                Прикоснитесь к истории звука и найдите свою мелодию.
            </p>
        </div>
    </div>
</div>