<div class="footer">
    <h3>Мы рады, что вы выбираете нас</h3>
    <div class="flex jcsb w100">
        <ul>
            <li class="underline">О нас</li>
            <li class="underline">Каталог</li>
            <li class="underline">Личный кабинет</li>
        </ul>
        <div class="center">
            <img src="../../../assets/logo2.png" alt="">
        </div>
        <ul>
            <li class="underline">Личный кабинет</li>
            <li class="underline">Избранное</li>
            <li class="underline">Корзина</li>
        </ul>
    </div>
    <span> © Все права защищены. «Импрессия», 2024</span>
</div>