@import "../../styles/vars.scss";
.footer {
    background-color: $main;
    padding: 5px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
    h3, span {
        margin: 10px;
    }
    ul {
        li {    
            font-size: 20px;
            cursor: pointer;
            margin: 10px;
            width: max-content;
        }
    }
    .center  {
        img {
            height: 120px;
        }
    }
}