<div class="wrapper">
    <div class="img1">
        <div class="citat1">
            <span>
                Виниловая пластинка -
            </span>
            <span class="dvig">любовь на всю жизнь.</span>
        </div>
        <div class="citat2">
            <span>Есть всё на Ваш вкус и выбор - ваши любимые исполнители и жанр:</span>
            <div class="flex">
                <ul style="padding: 0 0 0 20px;">
                    <li>Классика</li>
                    <li>Рок</li>
                    <li>Поп</li>
                </ul>
                <ul>
                    <li>Джаз</li>
                    <li>Блюз</li>
                </ul>
            </div>
        </div>
        <div class="citat3">Делаем с Любовью...</div>
    </div>
    <div class="main">
        <div class="navigation">
            <h3>Каталог</h3>
            @for (item of nav; track $index) {
                <div class="nav_item" [class.checked]="current_nav == item"
                (click)="selectNav(item)">
                    <div class="icon" [style.backgroundImage]="'url(../../../assets/catalog/icons/' + item.icon + ')'"></div>
                    <span class="text underline" [class.underline2]="current_nav == item" >{{item.name}}</span>
                </div>
            }
        </div>
        <div class="catalog">
            @for (item of catalog; track $index) {
                <div class="item">
                    <div class="hover">
                        <div class="img" [style.backgroundImage]="'url(../../../assets/catalog/products/' + item.img + '.jpg)'"></div>
                        <div class="name">{{item.name}}</div>
                        <div class="desc">
                            <div class="center">
                                <div class="hr"></div>
                            </div>
                            {{item.hover}}
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>